* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightblue;
}

.container {
  display: flex;
  margin: 5em auto 0;
  width: 90%;
  background: #ffffff;
  border: 5px solid #111827;
  border-radius: 10px;
  justify-content: center;
  min-width: 320px;
  max-width: 432px;
}

.list-container {
    text-align: center;
    width: 95%;
    border-radius: 10px;
}

.add-chores-section {
    display: flex;
    margin-bottom: 1em;
}

.item-input {
  height: 33px;
  border: none;
  background: #EEEEEE;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  max-width: 315px;
  font-size: 1.25em;
}

button {
    border: none;
    border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.add-btn {
  margin: 0 .5em;
  background: #FFCC68;
}

.clear-btn {
    background: #FF9548;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FBDF7C;
    margin: 0 0 .5em 0;
    height: 33px;
    border-radius: 5px;
    padding: 0.5em .75em 0.5em 1em;
    font-weight: 700;
    font-size: 1.5em;
}

.X {
  border: 1px solid black;
}

.X:hover {
  cursor: pointer;
  filter: invert(33%) sepia(99%) saturate(4661%) hue-rotate(347deg) brightness(118%) contrast(111%);
}

.all-done-gif {
  width: 100%;
}